<div class="container">

		<div class="row">
			<%=render'shared/navbar' %>
			<div class="col-md-12">
				<div class="row">
					
				     <% @articles.order(id: :desc).each do |article| %>
				     <div class="panel panel-default">
						<table class="table">
						<th>
                          <strong><%= article.title %></strong> -- <i><%= article.created_at.strftime("%Y-%m-%d") %></i>   
						</th>
						
						<tr>
						 <td>
						 	<p>
						<%= link_to category_article_path(article.category_id,article) do %>
						<%= image_tag article.image.url(:medium), class: "img-index" %>
						<% end %>
						 <%= article.text %>
						 </p>
						 </td>	  
						</tr>
									 
					
					
				
						</table>
						</div>	
						<% end %>
						
				</div>
			</div>
		</div>
	</div>

<%=render'shared/footer' %>