
<div class="container">
    <div class="row">
        <ul class="margin">
            <li class="nav navbar-nav navbar-right">
                <% if author_signed_in? %>
                    <p><%= link_to "Çıkış",destroy_author_session_path, :method => 'delete', class: "btn btn-danger" %></p>
                    <br>
                 <%end%>
            </li>
        </ul>
    </div> <!-- / row -->

    <div class="row">
       <div class="form-group">        
           <h2>HABER EKLE</h2>

             <%= form_for @article, html: { multipart: true } do |f| %>

                     <% if flash[:notice] %>
                     <div class="notice"><%= flash[:notice] %></div>
                      <% end %>
                 <%= f.hidden_field :owner_id, value: current_author.id %>
                <%= f.hidden_field :category_id, value: params[:category_id] %>

                <p>
                    <label>Haber başlığı </label><br>
                    <%= f.text_field :title ,class: "form-control" %>
                </p>
                <p>
                    <%= f.label "İçerik " %><br>
                    <%= f.text_area :text ,class: "form-control"  %>
                </p>
                <p>
                    <%= f.label "Fotoraf " %><br>
                    <%= f.file_field :image  %>
                </p>
                <p>
                    <%= f.submit 'Haber Ekle' ,class: "btn btn-primary"%>
                </p>
            <% end %>
       </div>
    </div>
</div>