<div class="container">

<div class="row">


<%= form_for @article, html: { multipart: true } do |f| %>
  
  <%= f.hidden_field :category_id, value: params[:category_id] %>
  
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>
 
  <p>
    <%= f.label :text %><br>
    <%= f.text_area :text %>
  </p>
   <p>
    <%= f.label :image %><br>
    <%= f.file_field :image %>
  </p>
 
<div class="col-md-6">
			<h3>Etiket Ekleyin</h3>
			<div id="labels">
				<%= f.fields_for :labels do |label| %>
				<%= render 'labels', f: label %>
				<% end %>
				<div class="links">
					<%= link_to_add_association 'Etiket Ekle', f, :labels, class: "btn btn-default add-button" %>
				</div>
			</div>
		</div>
  <p>
    <%= f.submit %>
  </p>
<% end %>
<% if author_signed_in? %>
    <p><%= link_to "Sign_out",destroy_author_session_path, :method => 'delete'%></p>
    <br>
    <%end%>

</div>
</div>