<footer>
	<div class="container">
		<div class="row">
			<div clas="col-md-6 col-xs-12">
				<ul>
					<li><%= link_to 'Gündem',gundem_path%></li>					
					<li><%= link_to 'Politika',politika_path%></li>
					<li><%= link_to 'Dünya',dunya_path%></li>
					<li><%= link_to 'Ekonomi',ekonomi_path%></li>
					<li><%= link_to 'Medya',medya_path%></li>
					<li><%= link_to 'Özel Haber',ozelhaber_path%></li>
					<li><%= link_to 'Çevre',cevre_path%></li>
				</ul>
			</div>
			<div clas="col-md-6  col-xs-12">
				<p>Copyright &copy; 2016 , All Rights Reserved Code2</p>

			</div>

		</div>
	</div>

</footer>