<div class="container">
    <div class="row">
        <ul class="margin">
            <li class="nav navbar-nav navbar-right">
                <% if author_signed_in? %>
                    <p><%= link_to "Çıkış",destroy_author_session_path, :method => 'delete', class:"btn btn-danger" %></p>
                    <br>
                 <%end%>
            </li>
        </ul>
    </div> <!-- / row -->

    <div class="row">
       <div class="form-group">        
           <h2>PROFİL EKLE</h2>

             <%= form_for @authorprofile, html: { multipart: true } do |f| %>

                     <% if flash[:notice] %>
                     <div class="notice"><%= flash[:notice] %></div>
                      <% end %>
                
                <%= f.hidden_field :author_id, value: current_author.id %>

                <p>
                    <label>AD </label><br>
                    <%= f.text_field :first_name ,class: "form-control" %>
                </p>
                <p>
                    <%= f.label "SOYAD " %><br>
                    <%= f.text_field :last_name ,class: "form-control"  %>
                </p>
                <p>
                    <%= f.label "AVATAR " %><br>
                    <%= f.file_field :avatar  %>
                </p>
                <p>
                    <%= f.submit 'PROFİL GÜNCELE' ,class: "btn btn-primary"%>
                </p>
            <% end %>
       </div>
    </div>
</div>