<div class="container">
	<%= form_for @category do |f| %>
	<p>
		<%= f.label "Kategori adı" %><br>
		<%= f.text_field :name %>
	</p>
	<p>
		<%= f.submit %>
	</p>
	<% end %>

	<%= link_to "Kategorileri Listele", categories_path %>

	<% if author_signed_in? %>
	<p><%= link_to "Çıkış",destroy_author_session_path, :method => 'delete'%></p>
	<br>
	<%end%>

</div>
