<div class="container">
<% if author_signed_in? %>
    <p><%= link_to "Sign_out",destroy_author_session_path, :method => 'delete'%></p>
    <br>
    <%end%>



<%= form_for @category do |f| %>
  
 
  <p>
    <%= f.label :name %><br>
    <%= f.text_area :name %>
  </p>
 

 

  <p>
    <%= f.submit %>
  </p>
<% end %>
<%= link_to "Kategorileri Listele", categories_path %>
<% if author_signed_in? %>
    <p><%= link_to "Sign_out",destroy_author_session_path, :method => 'delete'%></p>
    <br>
    <%end%>

</div>
