



<div class="container">
	<div class="row">
		<div class="form-group">
			<%= form_for @category do |f| %>
			<label >Kategori Adı:</label>
			<%= f.text_field :name,class: "form-control" %>
			<%= f.submit  %>
			<%= link_to "Kategorileri Listele", categories_path, class: "btn btn-primary" %>
			<% if author_signed_in? %>
			<%= link_to "Çıkış",destroy_author_session_path, :method => 'delete'%>
			<br>
			<%end%>
		<% end %>
		</div>
	</div>
</div>
